<% provide(:title, "Sign up") %>
<div class="row page-title">
  <div class="col-md-5 align-self-center">
    <h3>Sign Up</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
  </div>
</div>
<div class="page-content container-fluid">
<div class="row">
  <div class="col-md-6 offset-md-3 ">
    <div class="page-content-item form-wrapper">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-rounded", placeholder: "Enter your email" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control input-rounded", placeholder: "Enter your password" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-rounded", placeholder: "Confirm your password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-submit input-rounded" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</div>