<% provide(:title, "All users") %>
<%= render "shared/heading" %>
<div class="page-content container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3 ">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Time to created</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each.with_index do |user, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
            <td>
              <% if logged_in? %>
              <% if current_user.admin?  %>
                <ul class="cat-action">
                  <li>
                    <%= link_to 'Delete', user_path(user.id), method: :delete, data:{confirm: 'Are you sure?'} %>
                  </li>
                </ul>
              <%	else %>
              <span>
                Only admin to action
              </span>
              <% end	end %>
            </td>
          </tr>
          <%; end %>
        </tbody>
      </table>
    </div>
  </div>
</div>