<%= form_tag request.original_url, method: :get do %>
  <div class="post-filter">
    <div class="post-filter-item">
      <h3>Filter by category</h3>
      <ul class="filter-list">
        <% @categories.each do |c| %>
          <% if params[:cat_id] == c.id.to_s %>
            <li>
              <%= check_box_tag 'cat_id', c.id, true %> <span><%= c.title %></span>
            </li>
          <% else %>
            <li>
              <%= check_box_tag 'cat_id', c.id %> <span><%= c.title %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="post-filter-item">
      <h3>Filter by user</h3>
      <ul class="filter-list">
        <% @users.each do |u| %>
          <% if params[:user_id] == u.id.to_s %>
            <li>
              <%= check_box_tag 'user_id', u.id, true %> <span><%= u.email %></span>
            </li>
          <% else %>
            <li>
              <%= check_box_tag 'user_id', u.id %> <span><%= u.email %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <%= submit_tag "Filter", class: 'btn btn-submit' %>
  </div>
<% end %>
