<% provide(:title, @post.title) %>
<%= render "shared/heading" %>
<div class="page-content container-fluid">
  <div class="page-content-inner">
    <h1 class="post-title"><%= @post.title %></h1>
    <ul class="post-meta">
      <li>
        <span><i class="far fa-user"></i><%= @post.user.email %></span>
      </li>
      <li>
        <span><i class="far fa-calendar-alt"></i><%= @post.created_at %></span>
      </li>
      <li>
        <span><i class="far fa-folder-open"></i><a href="#">Sport</a></span>
      </li>
    </ul>
    <h2 class="sapo"><%=	@post.desc %></h2>
    <p><%= raw(@post.content) %></p>
  </div>
</div>
