<tr>
    <td>
        <%= category_counter + 1 %>
    </td>
    <td class="title-table">
        <span><%= category.title %></span>
    </td>
    <td>
      <%= category.desc %>
    </td>
    <td>
    <% if logged_in? %>
      <% if current_user.admin?  %>
        <ul class="cat-action">
          <li>
            <%= link_to 'Edit', edit_category_path(category.id) %>
          </li>
          <li>
            <%= link_to 'Delete', category_path(category.id), method: :delete, data:{confirm: 'Are you sure?'} %>
          </li>
        </ul>
      <%	else %>
      <span>
        Only admin to action
      </span>
      <% end	end %>
    </td>
    <td>
        <% cat_parents = category.ancestors %>
        <% cat_parents.each do |c| %>
        <%= link_to c.title, edit_category_path(c.id), class: "href-seperator"  %>
        <% end %>
    </td>
    <td>
      <%= link_to category.relationships.count, category_path(category.id) %>
    </td>
</tr>